@model CashCard.Models.RegularGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RegularGroup</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountDesription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountDesription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupType)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
