@model IEnumerable<CashCard.Models.ApplicationUser>
@{
    ViewBag.Title = "Account List";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table id="tbl" class="display">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Branch
            </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Reset Passwod", "ResetPassword", new {userId=item.Id})
                     @*| @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundle/datatable")
    <script type="text/javascript">

        var tbl = $("#tbl").DataTable(
        {
            "searching": true,
            "lengthChange": false
        });

        $('#tbl')
            .removeClass('display')
            .addClass('table table-striped table-bordered');


    </script>
}
