@model CutOff
@using CashCard.Models


@{
    ViewBag.Title = "GetReport";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Branch Office @Html.DisplayFor(p => p.Branch.Name)</h2>
<h4>PU Pengeluaran Regular @Html.DisplayFor(p => p.Branch.PengeluaranRegular)</h4>

<div class="row">
    <table class="table">


        <tr>
            <td><b>Previous Ballance</b></td>
            <td></td>
            <td class="text-right">@Html.DisplayFor(p => p.PreviousBallance)</td>
        </tr>

        @if (Model.CashCards.OfType<CashIn>().Any())
        {
            <tr>
                <td colspan="3"><h3>Cash In</h3></td>
            </tr>



            foreach (var b in Model.CashCards.OfType<CashIn>())
            {

                <tr>
                    <td>
                        - @Html.DisplayFor(p => b.Date)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(p => b.Total)
                    </td>
                    <td></td>
                </tr>
            }

            <tr>
                <td colspan="2"><b>SubTotal</b></td>
                <td class="text-right">@ViewBag.TotalCashIn</td>
            </tr>
        }

        @if (Model.CashCards.OfType<CashOut>().Any(p => p.TypeOut==TypeOut.Regular))
        {
            <tr>
                <td colspan="3"><h3>Cash Out Regular</h3></td>
            </tr>

            foreach (var b in Model.CashCards.OfType<CashOut>().Where(p => p.TypeOut == TypeOut.Regular))
            {
                <tr>
                    <td>
                        -  @Html.DisplayFor(p => b.Date)
                    </td>
                    <td class="text-right">
                        (@Html.DisplayFor(p => b.Total))
                    </td>
                    <td></td>
                </tr>
            }
            <tr>
                <td colspan="2"><b>SubTotal</b></td>
                <td class="text-right">(@ViewBag.TotalCashOutRegular)</td>
            </tr>
        }

        @if (Model.CashCards.OfType<CashOut>().Any(p=>p.TypeOut ==TypeOut.Irregular))
        {


            <tr>
                <td colspan="3"><h3>Cash Out Irregular</h3></td>
            </tr>

            foreach (var b in Model.CashCards.OfType<CashOut>().Where(p => p.TypeOut == TypeOut.Irregular))
            {
                <tr>
                    <td>
                        - @Html.DisplayFor(p => b.Date)
                    </td>
                    <td class="text-right">
                        (@Html.DisplayFor(p => b.Total))
                    </td>
                    <td></td>
                </tr>
            }
            <tr>
                <td colspan="2"><b>SubTotal</b></td>
                <td class="text-right">(@ViewBag.TotalCashOutIrregular)</td>
            </tr>
        }
        <tr>
            <td>
                <b>End Ballance</b>
            </td>
            <td></td>
            <td class="text-right"> @Html.DisplayFor(p => p.EndBallance)</td>
        </tr>

    </table>

</div>

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
