@using CashCard.Models
@model CashCard.Models.CashIn

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}



<div>
   
   
    <div class="row">
        <div class="col-md-6">
            <h4>CashIn</h4>
            <dl class="dl-horizontal">
                @Html.HiddenFor(p => p.Id)

                <dt>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>
                <dt>
                    State
                </dt>
                <dd>
                    @switch (Model.State)
                    {
                        case StateCashFlow.Draft:
                            <span class="label label-default">Draft</span>
                            break;
                        case StateCashFlow.Final:
                            <span class="label label-primary">Final</span>
                            break;
                        case StateCashFlow.Revision:
                            <span class="label label-warning">Revision</span>
                            break;
                        case StateCashFlow.Approve:
                            <span class="label label-success">Approve</span>
                            break;
                        case StateCashFlow.Reject:
                            <span class="label label-danger">Reject</span>
                            break;
                    }
                </dd>

              

              
                <dt>
                    @Html.DisplayNameFor(model => model.Total)
                </dt>

                <dd>
                    <span id="spanTotal">@Html.DisplayFor(model => model.Total)</span>

                </dd>

                <dd>
                   
                    @if (Model.State == StateCashFlow.Final)
                    {

                        <input type="button" id="btnRevision" state="Revision" value="Revision" class="btn-ajax btn btn-warning " />
                        <input type="button" id="btnReject" state="Reject" value="Reject" class="btn-ajax btn btn-danger " />
                        <input type="button" id="btnApprove" state="Approve" value="Approve" class="btn-ajax btn btn-success" />
                    }

                </dd>

            </dl>
        </div>
        
        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">Log</div>
                <div class="panel-body">
                    @Html.DisplayTextFor(model => model.LogNote)
                </div>
            </div>


        </div>
    </div>
</div>

<div class="row" id="rowTable">
    <div class="col-lg-12">
        <table id="tbl" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Note</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var a in Model.CashInDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(i => a.Id)
                            </td>

                            <td>
                                @Html.DisplayTextFor(i => a.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Amount)
                            </td>


                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="errorInfo" title="Error Info">

</div>

<div id="InputInfo" title="Note">
    <input id="validationInfo" type="text"/>
</div>

@section Scripts {
    @Scripts.Render("~/bundle/datatable")
    @Scripts.Render("~/bundles/jquerynumber")

    <script type="text/javascript">
        var state, id, log;
        var tbl = $("#tbl").DataTable(
        {
            "searching": false,
            "lengthChange": false,
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "ordering": false
                }
            ]

        });
        $("#spanTotal").number(true, 0);
        var dialog = $("#errorInfo").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });

        var dialogInputText = $("#InputInfo").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");

                    log = $("#validationInfo").val();

                    $.ajax({
                        url: '@Url.Action("SetState")',
                        data: JSON.stringify({ Id: id, State: state,Log:log }),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (result) {

                            if (result.Success == "1") {
                                window.location.href = '@Url.Action("index")';
                            } else {
                                showErrorInfo(result.ex);
                            }
                        }

                    });

                }
            }
        });
        function showErrorInfo(error) {

            var str = "<p> \
                        <b>Error :</b> <span>" + error + "</span> \
                       </p>";
            $("#errorInfo").html(str);
            dialog.dialog("open");

        }

        $(".btn-ajax").click(function () {
             state = $(this).attr("state");
            id = $("#Id").val();
            
             dialogInputText.dialog("option", "title", "Validate as " + state);
            dialogInputText.dialog("open");
        });
    </script>

}

   