@model CashCard.Models.CashOutRegular

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CashFlow</h4>
    <hr />
    <div id="errorInfo" title="Error Info">

    </div>
    <dl class="dl-horizontal">
        @Html.HiddenFor(p => p.Id)
       
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            <span id="spanTotal">@Html.DisplayFor(model => model.Total)</span>
         
        </dd>
      
        <dd>
            <form method="POST" action="/CashflowValidation/SetState" >
               
             
                <input type="button" id="btnRevision" value="Revision" class="btn btn-warning " />
                <input type="button" id="btnReject" value="Reject" class="btn btn-danger "  />
                <input type="button" id="btnApprove" value="Approve" class="btn btn-success"  />
            </form>
           
        </dd>
      
    </dl>
</div>

<div class="row" id="rowTable">
    <div class="col-lg-12">
        <table id="tbl" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>IdQuiz</th>
                    <th>Name</th>
                    <th>Note1</th>
                    <th>Note2</th>
                    <th>Amount</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var a in Model.RegularDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(i => a.Id)
                            </td>
                            <td>
                                @Html.DisplayTextFor(i => a.RegularQuizId)
                            </td>
                            <td>
                                @Html.DisplayTextFor(i => a.RegularDetailQuiz.Quiz)
                            </td>
                            <td>
                                @Html.DisplayTextFor(i => a.Note1)
                            </td>
                            <td>
                                @Html.DisplayTextFor(i => a.Note2)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.SubTotal)
                            </td>
                           
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundle/datatable")
    @Scripts.Render("~/bundles/jquerynumber")

    <script type="text/javascript">
        var tbl = $("#tbl").DataTable(
       {
           "searching": false,
           "lengthChange": false,
           "paging": false,
           "columnDefs": [
               {
                   "targets": [0],
                   "visible": false,
                   "ordering": false
               },
               {
                   "targets": [1],
                   "visible": false
               }
           ]

       });
        $("#spanTotal").number(true, 0);
        var dialog = $("#errorInfo").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
        function showErrorInfo(error) {

            var str = "<p> \
                        <b>Error :</b> <span>" + error + "</span> \
                       </p>";
            $("#errorInfo").html(str);
            dialog.dialog("open");

        }

        $("#btnRevision").click(function() {
            $.ajax({
                url: '/CashflowValidation/SetState',
                data: JSON.stringify({Idx:$("#Id").val(), Statex:'Revision'}),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = "/Cashflow/index";
                    } else {
                        showErrorInfo(result.ex);
                    }
                }

            });
        });
    </script>

}

   