@model CashCard.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>bootstrap datepicker examples</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datepicker3.css")">
</head>
<body>
    <div class="container">
        <div class="form-inline">
            <div class="form-group">
                <label>Start Date</label>
                @*<div class="hero-unit">
                    <input id="startDt" placeholder="yyyy/mm/dd"  />
                </div>*@
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>End Date</label>
                <div>
                    <input id="endDt" placeholder="yyyy/mm/dd" class="form-control date" value='@DateTime.Now.ToString("yyyy/MM/dd")' />
                </div>

            </div>

            <div class="form-group">
                <label style="visibility: hidden">Action</label>
                <div>
                    <button id="btnSearch" class="btn btn-default form-control">Search</button>

                </div>
            </div>



        </div>
    </div>
    <!-- Load jQuery and bootstrap datepicker scripts -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" ></script>
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('#startDt').datepicker({
                format: "dd/mm/yyyy",
                orientation: "top left"
            });

            $('#example2').datepicker({
                format: "dd/mm/yyyy",
                orientation: "top left"
            });

            $('#datetimepicker1').datetimepicker();
        });
    </script>
</body>
</html>

