@using CashCard.Models
@model CutOff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Details</h2>

<div>
    @Html.HiddenFor(p=>p.Id)
    <h4>CutOff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Branch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>
        
        <dt>Start Date</dt>
        <dd>@Html.DisplayFor(p=>p.DateStart)</dd>
        <dt>End Date</dt>
        <dd>@Html.DisplayFor(p => p.DateEnd)</dd>
        <dt>
           Status
           
        </dt>

        <dd>
            @switch (@Model.State)
            {
                case StateCutOff.Close:
                    <span class="label label-success">Close</span>
                    break;
                case StateCutOff.Open:
                <span class="label label-warning">Open</span>
                    break;


            }
        </dd>



        <dt>
            Previous Ballance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousBallance)
        </dd>

        <dt>
           End Ballance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndBallance)
        </dd>

       
        <dd>
            @if (Model.State == StateCutOff.Open)
            {
                <input id="btnCutOff" type="button" value="Cut Off!" class="btn btn-danger " />
            }
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table table-striped table-bordered table-hover">
            <thead>
                <tr>

                    <th>
                        Owner
                    </th>
                    <th>
                       Date
                    </th>
                    
                    <th>
                        Cost Center
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CashCards)
                {
                    var xclas = item is CashIn ? "success" : "warning";
                    <tr class='@xclas'>

                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                       
                        <td>
                            @if (item is CashOut)
                            {
                                var xx = item as CashOut;
                                <span>@xx.CostCenter</span>

                            }

                            else
                            {
                                <span>-</span>


                            }
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>

                            @switch (item.State)
                            {
                                case StateCashCard.Draft:
                                    <span class="label label-default">Draft</span>
                                    break;
                                case StateCashCard.Final:
                                <span class="label label-primary">Final</span>
                                    break;
                                case StateCashCard.Revision:
                                <span class="label label-warning">Revision</span>
                                    break;
                                case StateCashCard.Approve:
                                <span class="label label-success">Approve</span>
                                    break;
                                case StateCashCard.Reject:
                                <span class="label label-danger">Reject</span>
                                    break;
                            }


                        </td>
                        <td>
                            @if (item is CashOut)
                            {
                                var oo = item as CashOut;
                                <span> @oo.TypeOut</span>

                            }
                            else if (item is CashIn)
                            {
                                <span>Cash In</span>

                            }
                            else
                            {
                                <span>Irregular</span>


                            }


                        </td>
                        <td>
                       
                            @Html.ActionLink("View", "View", new { id = item.Id })

                       
                        </td>
                       
                    </tr>
                }
            </tbody>

        </table>
        
    </div>

    </div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>


<div id="errorInfo" title="Error Info">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">

        var tbl = $("#tbl").DataTable(
        {
            "searching": true,
            "lengthChange": false
        });

        var dialog = $("#errorInfo").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });

        function showErrorInfo(error) {

            var str = "<p> \
                        <b>Error :</b> <span>" + error + "</span> \
                       </p>";
            $("#errorInfo").html(str);
            dialog.dialog("open");

        }
        $("#btnCutOff").click(function () {
            var id = $("#Id").val();
            $.ajax({
                url: '@Url.Action("CutOff")',
                data: JSON.stringify({Id: id}),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {

                    if (result.Success == "1") {
                        window.location.href = '@Url.Action("index")';
                    } else {
                        showErrorInfo(result.ex);
                    }
                }

            });
        });


    </script>
}