@model CashCard.Models.RegularQuiz

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegularDetailQuiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz)
        </dd>

        <dt>
            Group Info
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularGroup.AccountNo) - 
            @Html.DisplayFor(model => model.RegularGroup.AccountDesription) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularType)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
