@model CashCard.Models.Quiz

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DetailQuiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.QuizGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizGroup.AccountNo) - 
            @Html.DisplayFor(model => model.QuizGroup.AccountDesription) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note1Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note1Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note2Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note2Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note3Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note3Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredAll)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
