@model CashCard.Models.Quiz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetailQuiz</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizGroup.AccountNo) -
            @Html.DisplayFor(model => model.QuizGroup.AccountDesription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note1Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note1Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note2Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note2Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note3Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note3Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredAll)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
