@model CashCard.Models.Quiz

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DetailQuiz</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Info, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Info, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Info)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuizGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuizGroupId", (SelectList)ViewBag.RegularGroups, new { @class = "form-control", data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.QuizGroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CostCenter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CostCenter", (SelectList)ViewBag.RegularType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CostCenter)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Note1Label, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Note1Label, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note1Label)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Note2Label, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Note2Label, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note2Label)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note3Label, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Note3Label, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note3Label)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredAll, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequiredAll)
               
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">


        $("#QuizGroupId").selectpicker();
    </script>

}