@model IEnumerable<CashCard.Models.Quiz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Quiz")
            </th>
            <th>
                @Html.DisplayName("Group Description")
            </th>
            <th>
                @Html.DisplayName("Regular Type")
            </th>
            <th>
                Note label 1
            </th>
            <th>
                Note Label 2
            </th>
            <th>
                Note Label 3
            </th>
            <th>
               Required All
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.DisplayName(item.QuizGroup.AccountNo) - @Html.DisplayName(item.QuizGroup.AccountDesription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostCenter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note1Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note2Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note3Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredAll)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">

        var tbl = $("#tbl").DataTable(
        {
            "searching": true,
            "lengthChange": false
        });

       

    </script>
}


