@model List<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Index</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="form-inline">
            <div class="form-group">
                <label>Start Date</label>
                <div class="hero-unit">
                    <input id="startDt" placeholder="yyyy/mm/dd" class="form-control  "  />
                </div>
            </div>
            <div class="form-group">
                <label>End Date</label>
                <div>
                    <input id="endDt" placeholder="yyyy/mm/dd" class="form-control date" value='@DateTime.Now.ToString("yyyy/MM/dd")' />
                </div>

            </div>
           
            <div class="form-group">
                <label style="visibility: hidden">Action</label>
                <div>
                    <button id="btnSearch" class="btn btn-default form-control">Search</button>

                </div>
            </div>



        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Quiz
                    </th>
                    @foreach (var s in Model)
                    {
                        <th>
                            @s
                        </th>
                    }
                </tr>

            </thead>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jquerynumber")
    @Scripts.Render("~/bundles/numeral")

    <script type="text/javascript">

        var pathToSWF = '@Url.Content("~/Content/DataTables/swf/copy_csv_xls_pdf.swf")';
        //var $dt = $(".date").datepicker({
        //    format: 'yyyy/mm/dd',
        //    todayBtn: 'linked'
        //});

        //$(".date").datepicker('update');

        $('#startDt').datepicker({
            "setDate": new Date(),
            "autoclose": true,
            "format":"yyyy/mm/dd"
        });
        var tbl = $(".table").DataTable(
        {
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "paging": false,
            "info": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '@Url.Action("FindData")',
                "data": function(d) {
                    d.startDate = $("#startDt").val();
                    d.endDate = $("#endDt").val();

                }
            },
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": pathToSWF
            }

        });
        $("#btnSearch").click(function() {
            tbl.ajax.reload();
        });

        //$(".table").on("click", ".rpt", function (e) {
        //    e.preventDefault();
        //    $("#modalx").modal('show');
        //});
    </script>
}

