@model CashCard.Models.CashOutRegular
@{
    ViewBag.Title = Model.Id == 0 ? "Create" : "Update";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

@if (Model.Id == 0)
{
    <h2>Create</h2>
}
else
{
    <h2>Update</h2>
}

<div id="errorInfo" title="Error Info">

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form id="detail">

                    <input id="regularDetailId" type="hidden" />


                    <div class="form-group">
                        <label>Name</label>
                        <div>
                            @Html.DropDownList("RegularQuiz", (SelectList)ViewBag.RegularQuiz, new { @class = "form-control", data_live_search = "true" })
                        </div>
                        <p id="info" class="help-block">Example block-level help text here.</p>
                    </div>


                    <div class="form-group">
                        <label>Note1</label>
                        <div>
                            <input id="Note1" class="form-control" />
                        </div>
                    </div>



                    <div class="form-group ">
                        <label>Note2</label>
                        <div>
                            <input id="Note2" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group ">
                        <label>Amount</label>
                        <div>
                            <input id="Amount" name="Amount" type="text" class="form-control" required number="true" />
                        </div>
                    </div>


                    <div class="form-group ">
                        <label>Qty</label>
                        <div>
                            <input id="Qty" name="Qty" type="text" class="form-control" required number="true" />
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="button" id="addToTbl" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <fieldset>
            <legend> Cashout Regular</legend>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.Id)



            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Date)
                    @*@Html.TextBoxFor(model => model.Date, new { @class = "form-control", @Value = Model??DateTime.Now.ToString("yyyy/MM/dd") })*@
                    @Html.ValidationMessageFor(model => model.Date)
                    <span class="label label-info">State : @Html.DisplayFor(p => p.State)</span>

                </div>


            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>


            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.Total, new { @class = "form-control", @readonly = "readonly", @data_val = "false" })

                </div>


            </div>

            <div class="form-group">

                <label class="col-md-1 control-label"></label>
                <div class="col-md-5">

                    <input type="submit" value="Save As Draft" id="saveDraft" class="btn btn-default " />

                    <input type="submit" value="Save As Final" id="saveFinal" class="btn btn-primary " />

                </div>

            </div>



        </fieldset>




    </div>


}



<hr />

<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#myModal">
            Add Detail
        </button>
    </div>
</div>

<div class="row" id="rowTable">
    <div class="col-lg-12">

        <table id="tbl" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>IdQuiz</th>
                    <th>Name</th>
                    <th>Note1</th>
                    <th>Note2</th>
                    <th>Amount</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var a in Model.RegularDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(i => a.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.RegularQuizId)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.RegularDetailQuiz.Quiz)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Note1)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Note2)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(i => a.SubTotal)
                            </td>
                            <td>
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>

    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundle/datatable")
    @Scripts.Render("~/bundles/jquerynumber")
    @Scripts.Render("~/bundles/numeral")
    <script type="text/javascript">

        var dialog =  $("#errorInfo").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#Qty").number(true, 0);
        $("#Amount").number(true, 0);
        $("#Total").number(true, 0);


     
        var tbl = $("#tbl").DataTable(
        {
            "searching": false,
            "lengthChange": false,
            //"scrollY": "200px",
            //"scrollCollapse": true,
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "ordering": false
                },
                {
                    "targets": [1],
                    "visible": false
                },
                {
                    "targets": [8],
                    "render": function(data, type, full, meta) {
                        return " <a href='#' class='editDetail'>Edit</a> | <a href='#' class='deleteDetail'>Delete</a>";
                    }
                }
            ]

        });

        $("#RegularQuiz").selectpicker();

        function showErrorInfo(error) {

            var str = "<p> \
                        <b>Error :</b> <span>" + error + "</span> \
                       </p>";
            $("#errorInfo").html(str);
            dialog.dialog("open");

        }


        $("#addToTbl").click(function(e) {
            e.preventDefault();
            if ($("#detail").valid()) {

                var total = 0;
                if ($("#Total").val()) {
                    total = Number($("#Total").val());
                }


                var subTotal = Number($("#Amount").val()) * Number($("#Qty").val());
                total = total + subTotal;
                $("#Total").val(total);

                tbl.row.add([
                     $("#regularDetailId").val(), $("#RegularQuiz").val(), $("#RegularQuiz option:selected").text(), $("#Note1").val(),
                    $("#Note2").val(), numeral($("#Amount").val()).format('0,0'),numeral( $("#Qty").val()).format('0,0'), numeral(subTotal).format('0,0')
                ]).draw();
                $('[data-id="RegularQuiz"]')[0].focus();
                $("#Note1").val('');
                $("#Note2").val('');
                $("#Amount").val('');
                $("#Qty").val('');
                $("#regularDetailId").val("0");
            }

        });


        $('#rowTable').on('click', '.editDetail', function() {
            var tr=  $(this).closest('tr');
            var rowData = tbl.row(tr).data();
            $("#Note1").val(rowData[3]);
            $("#Note2").val(rowData[4]);
            $("#Amount").val(rowData[5]);
            $("#Qty").val(rowData[6]);
            $("#regularDetailId").val(rowData[0]);

            tbl.row(tr).remove().draw();

            $('#myModal').modal('show');

            var total = $("#Total").val();
            total = total - rowData[7];
            $("#Total").val(total);
        });

        $('#rowTable').on('click', '.deleteDetail', function() {
            var tr=  $(this).closest('tr');
            var rowData = tbl.row(tr).data();

            tbl.row(tr).remove().draw();



            var total = $("#Total").val();
            total = total - rowData[7];
            $("#Total").val(total);
        });


        var data = @Html.Raw(Json.Encode(ViewBag.RegularQuizInfo));


        $("#RegularQuiz").change(function() {
            var selected = $(this).find("option:selected").val();

            var element = $.grep(data, function(e) { return e.Id == selected; });

            $("#info").html(element[0].Info);
        });

        $("#Date").datepicker({ dateFormat: "yy/mm/dd" });


        //get cashflow
        function getCashFlow() {
            var cashFlow = { "Id": 0, "Date": "", "Note": "", "RegularDetails": [] };
            // var regularDetail = { "Id": 0, "RegularQuidId": 0, "Note1": "", "Note2": "", "Amount": 0, "Qty": 0 };
            cashFlow.Id = $("#Id").val();
            cashFlow.Date = $("#Date").val();
            cashFlow.Note = $("#Note").val();
            var datas = tbl.rows().data();
            for (var i = 0; i < datas.length; i++) {
                var dt = datas[i];
                var regularDetail = { "Id": 0, "RegularQuidId": 0, "Note1": "", "Note2": "", "Amount": 0, "Qty": 0 };
                regularDetail.Id = dt[0];
                regularDetail.RegularQuizId = dt[1];
                regularDetail.Note1 = dt[3];
                regularDetail.Note2 = dt[4];
                regularDetail.Amount = numeral().unformat(dt[5]);
                regularDetail.Qty = numeral().unformat(dt[6]);
                cashFlow.RegularDetails.push(regularDetail);
            }
            return cashFlow;
        }


        $("#saveDraft").click(function(e) {
            e.preventDefault();
            var form = $(this).parents('form:first');
            if (form.valid()) {
                var cashFlow = getCashFlow();
                $.ajax({
                    url: '/CashFlow/CreateCashoutRegularDraft',
                    data: JSON.stringify(cashFlow),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function(result) {

                        if (result.Success == "1") {
                            window.location.href = "/Cashflow/index";
                        } else {
                            showErrorInfo(result.ex);
                        }
                    }

                });
            }
        });

        $("#saveFinal").click(function(e) {
            e.preventDefault();

            var form = $(this).parents('form:first');
            if (form.valid()) {
                //Ajax call here

                var cashFlow = getCashFlow();
                $.ajax({
                    url: '/CashFlow/CreateCashoutRegularFinal',
                    data: JSON.stringify(cashFlow),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function(result) {

                        if (result.Success == "1") {
                            window.location.href = "/Cashflow/index";
                        } else {
                            showErrorInfo(result.ex);
                        }
                    }

                });
            }
        });
        $("#detail").validate();
    </script>
    <style>
    </style>

}
